In [2]:
 # Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
 # URL of page to be scraped
url = "https://data.worldbank.org/indicator/NY.GDP.PCAP.CD"
browser.visit(url)

In [5]:
 # Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(browser.html, 'html.parser')

In [6]:
quotes = soup.find_all('div', class_='item')

for quote in quotes:
        for cell in quote.find_all('div'):
            print(cell.text)

Country
1960
2017

Afghanistan
59.8
550.1

Albania

4,537.6

Algeria
244.8
4,055.2

American Samoa

11,394.5

Andorra

39,146.5

Angola

4,100.3

Antigua and Barbuda

14,803.0

Argentina

14,398.4

Armenia

3,936.8

Aruba

25,655.1

Australia
1,807.3
53,793.5

Austria
935.5
47,380.8

Azerbaijan

4,135.1

Bahamas, The
1,550.3
30,762.0

Bahrain

23,739.2

Bangladesh
88.7
1,516.5

Barbados

16,357.0

Belarus

5,733.3

Belgium
1,273.7
43,467.4

Belize
304.9
4,971.2

Benin
93.0
827.4

Bermuda
1,902.4


Bhutan

3,130.2

Bolivia
101.2
3,394.0

Bosnia and Herzegovina

5,148.2

Botswana
58.0
7,595.6

Brazil
210.0
9,812.3

British Virgin Islands






Brunei Darussalam

28,290.6

Bulgaria

8,228.0

Burkina Faso
68.4
642.0

Burundi
70.3
292.0

Cabo Verde

3,244.4

Cambodia
111.3
1,384.4

Cameroon
119.5
1,451.9

Canada
2,294.6
44,870.8

Cayman Islands



Central African Republic
74.6
418.4

Chad
104.5
662.5

Channel Islands



Chile
532.6
15,346.4

China
89.5
8,827.0

Colombia
244.6
6,408.9

Comoros

1,312.3

Congo, Dem. Rep.
220.3
462.8

Congo, Rep.
127.0
1,654.0

Costa Rica
380.7
11,677.3

Cote d'Ivoire
153.5
1,537.5

Croatia

13,386.5

Cuba

8,433.1

Curacao






Cyprus

25,658.8

Czech Republic

20,379.9

Denmark
1,364.5
57,218.9

Djibouti

1,927.6

Dominica

6,719.3

Dominican Republic
204.1
7,052.3

Ecuador
455.3
6,273.5

Egypt, Arab Rep.

2,412.7

El Salvador

3,889.3

Equatorial Guinea

9,697.6

Eritrea



Estonia

20,200.4

Eswatini
100.5
3,242.8

Ethiopia

767.6

Faroe Islands



Fiji
285.5
5,589.4

Finland
1,179.4
45,804.7

France
1,338.3
38,484.2

French Polynesia



Gabon
283.4
7,413.8

Gambia, The

709.1

Georgia

4,045.4

Germany

44,665.5

Ghana
183.0
2,046.1

Gibraltar






Greece
533.7
18,885.5

Greenland



Grenada

10,451.0

Guam

35,675.8

Guatemala
247.8
4,471.0

Guinea

823.5

Guinea-Bissau

723.6

Guyana
297.7
4,655.1

Haiti
70.7
765.7

Honduras
164.6
2,480.1

Hong Kong SAR, China
429.4
46,193.6

Hungary

14,278.9

Iceland
1,415.0
71,311.8

India
82.4
1,979.4

Indonesia

3,846.4

Iran, Islamic Rep.
191.7
5,593.9

Iraq
231.0
5,018.0

Ireland
685.6
68,885.5

Isle of Man



Israel
1,229.2
40,543.6

Italy
804.5
32,110.0

Jamaica
429.3
5,114.0

Japan
479.0
38,430.3

Jordan

4,129.8

Kazakhstan

9,030.3

Kenya
97.6
1,594.8

Kiribati

1,594.3

Korea, Dem. People’s Rep.






Korea, Rep.
158.2
29,742.8

Kosovo

3,957.4

Kuwait

29,040.4

Kyrgyz Republic

1,220.5

Lao PDR

2,457.4

Latvia

15,684.6

Lebanon

8,808.6

Lesotho
40.6
1,154.4

Liberia

694.3

Libya

5,978.0

Liechtenstein



Lithuania

16,809.6

Luxembourg
2,242.0
104,498.7

Macao SAR, China

80,892.8

Madagascar
132.0
449.7

Malawi
45.0
338.5

Malaysia
234.9
9,951.5

Maldives

11,151.1

Mali

827.0

Malta

26,748.2

Marshall Islands

3,843.1

Mauritania
107.9
1,136.8

Mauritius

10,490.5

Mexico
341.6
8,910.3

Micronesia, Fed. Sts.

3,187.6

Moldova

2,290.2

Monaco



Mongolia

3,717.5

Montenegro

7,784.1

Morocco
164.8
3,022.9

Mozambique

426.2

Myanmar

1,256.7

Namibia

5,230.8

Nauru

8,844.7

Nepal
50.5
849.0

Netherlands
1,068.8
48,482.8

New Caledonia



New Zealand
2,312.9
42,583.1

Nicaragua
126.1
2,221.8

Niger
132.7
378.1

Nigeria
93.0
1,968.4

North Macedonia

5,414.6

Northern Mariana Islands

28,888.0

Norway
1,441.8
75,704.2

Oman

15,267.4

Pakistan
82.5
1,547.9

Palau

13,338.1

Panama
474.1
15,196.4

Papua New Guinea
114.6
2,488.9

Paraguay

5,823.8

Peru
255.6
6,571.9

Philippines
254.4
2,989.0

Poland

13,863.5

Portugal
360.5
21,291.4

Puerto Rico
717.5


Qatar

63,249.4

Romania

10,819.2

Russian Federation

10,749.1

Rwanda
40.6
748.3

Samoa

4,280.8

San Marino

48,888.0

Sao Tome and Principe

1,921.3

Saudi Arabia

20,849.3

Senegal
313.0
1,329.3

Serbia

5,901.2

Seychelles
288.1
15,629.3

Sierra Leone
140.2
499.5

Singapore
427.9
57,714.3

Sint Maarten (Dutch part)






Slovak Republic

17,579.3

Slovenia

23,601.4

Solomon Islands

2,132.1

Somalia

478.3

South Africa
433.9
6,151.1

South Sudan



Spain
396.4
28,208.3

Sri Lanka
142.8
4,073.7

St. Kitts and Nevis
241.6
17,924.1

St. Lucia

9,715.2

St. Martin (French part)






St. Vincent and the Grenadines
161.4
7,145.1

Sudan
124.5
2,898.5

Suriname
343.7
5,317.4

Sweden
1,983.1
53,253.5

Switzerland
1,787.4
80,342.8

Syrian Arab Republic
187.5


Tajikistan

801.1

Tanzania

958.4

Thailand
100.8
6,595.0

Timor-Leste

2,279.3

Togo
76.6
610.2

Tonga

3,959.1

Trinidad and Tobago
631.3
16,126.4

Tunisia

3,464.4

Turkey
509.4
10,546.2

Turkmenistan

6,586.6

Turks and Caicos Islands






Tuvalu

3,550.0

Uganda
62.3
606.5

Ukraine

2,639.8

United Arab Emirates

40,698.8

United Kingdom
1,380.3
39,953.6

United States
3,007.1
59,927.9

Uruguay
489.4
16,245.6

Uzbekistan

1,533.9

Vanuatu

3,123.6

Venezuela, RB
954.9


Vietnam

2,342.2

Virgin Islands (U.S.)
744.6


West Bank and Gaza

3,094.7

Yemen, Rep.

1,106.8

Zambia
234.2
1,513.3

Zimbabwe
281.0
1,333.4

World
452.3
10,748.7

Arab World

6,235.4

Caribbean small states
446.7
9,448.2

Central Europe and the Baltics

14,176.9

East Asia & Pacific
147.4
10,367.8

East Asia & Pacific (excluding high income)
89.8
7,126.3

Euro area
925.0
36,984.3

Europe & Central Asia
654.5
23,488.5

Europe & Central Asia (excluding high income)

7,949.5

European Union
876.8
33,836.4

Fragile and conflict affected situations

1,608.8

Heavily indebted poor countries (HIPC)
107.0
972.2

Latin America & Caribbean
369.7
9,271.6

Latin America & Caribbean (excluding high income)
284.2
8,346.4

Least developed countries: UN classification

1,072.7

Middle East & North Africa

7,373.8

Middle East & North Africa (excluding high income)

3,791.8

North America
2,942.6
58,407.4

OECD members
1,353.2
38,283.4

Other small states

13,211.8

Pacific island small states

3,996.7

Small states

11,979.4

South Asia
82.4
1,870.2

Sub-Saharan Africa
130.0
1,574.8

Sub-Saharan Africa (excluding high income)
129.9
1,573.5

High income
1,388.3
41,352.4

Low & middle income
134.1
4,670.3

Low income

787.7

Lower middle income

2,209.1

Middle income
137.3
5,182.8

Upper middle income
170.3
8,610.3

In [7]:
# Convert list of Lists of Country GDP per Capita into a dataframe
GDPPerCap17 = pd.DataFrame(quotes, columns = ['Country' , '1960', '2017',"Empty"])
GDPPerCap17['Country'] = GDPPerCap17['Country'].map(lambda x: str(x)[5:-6])
GDPPerCap17['1960'] = GDPPerCap17['1960'].map(lambda x: str(x)[5:-6])
GDPPerCap17['2017'] = GDPPerCap17['2017'].map(lambda x: str(x)[5:-6])
GDPPerCap17['Empty'] = GDPPerCap17['Empty'].map(lambda x: str(x)[5:-6])
# GDPPerCap17['Country'] = GDPPerCap17['Country'].map(lambda x: str(x)[-6:])
GDPPerCap17

,Country,1960,2017,Empty
0,"class=""th country ascendant"" data-reactid=""389...","class=""th year-low"" data-reactid=""391""><!-- re...","class=""th year-high"" data-reactid=""393""><!-- r...","class=""th sparkline"" data-reactid=""395"">"
1,Afghanistan,59.8,550.1,
2,Albania,,"4,537.6",
3,Algeria,244.8,"4,055.2",
4,American Samoa,,"11,394.5",
5,Andorra,,"39,146.5",
6,Angola,,"4,100.3",
7,Antigua and Barbuda,,"14,803.0",
8,Argentina,,"14,398.4",
9,Armenia,,"3,936.8",
10,Aruba,,"25,655.1",
11,Australia,"1,807.3","53,793.5",
12,Austria,935.5,"47,380.8",
13,Azerbaijan,,"4,135.1",
14,"Bahamas, The","1,550.3","30,762.0",
15,Bahrain,,"23,739.2",
16,Bangladesh,88.7,"1,516.5",
17,Barbados,,"16,357.0",
18,Belarus,,"5,733.3",
19,Belgium,"1,273.7","43,467.4",
20,Belize,304.9,"4,971.2",
21,Benin,93.0,827.4,
22,Bermuda,"1,902.4",,
23,Bhutan,,"3,130.2",
24,Bolivia,101.2,"3,394.0",
25,Bosnia and Herzegovina,,"5,148.2",
26,Botswana,58.0,"7,595.6",
27,Brazil,210.0,"9,812.3",
28,British Virgin Islands,,,"<div class=""d3-chart sparkline""><svg class=""li..."
29,Brunei Darussalam,,"28,290.6",
...,...,...,...,...
219,Arab World,,"6,235.4",
220,Caribbean small states,446.7,"9,448.2",
221,Central Europe and the Baltics,,"14,176.9",
222,East Asia &amp; Pacific,147.4,"10,367.8",
223,East Asia &amp; Pacific (excluding high income),89.8,"7,126.3",
224,Euro area,925.0,"36,984.3",
225,Europe &amp; Central Asia,654.5,"23,488.5",
226,Europe &amp; Central Asia (excluding high income),,"7,949.5",
227,European Union,876.8,"33,836.4",
228,Fragile and conflict affected situations,,"1,608.8",
229,Heavily indebted poor countries (HIPC),107.0,972.2,
230,Latin America &amp; Caribbean,369.7,"9,271.6",
231,Latin America &amp; Caribbean (excluding high ...,284.2,"8,346.4",
232,Least developed countries: UN classification,,"1,072.7",
233,Middle East &amp; North Africa,,"7,373.8",
234,Middle East &amp; North Africa (excluding high...,,"3,791.8",
235,North America,"2,942.6","58,407.4",
236,OECD members,"1,353.2","38,283.4",
237,Other small states,,"13,211.8",
238,Pacific island small states,,"3,996.7",
239,Small states,,"11,979.4",
240,South Asia,82.4,"1,870.2",
241,Sub-Saharan Africa,130.0,"1,574.8",
242,Sub-Saharan Africa (excluding high income),129.9,"1,573.5",
243,High income,"1,388.3","41,352.4",
244,Low &amp; middle income,134.1,"4,670.3",
245,Low income,,787.7,
246,Lower middle income,,"2,209.1",
247,Middle income,137.3,"5,182.8",
248,Upper middle income,170.3,"8,610.3",

In [8]:
GDPPerCap17.to_csv("GDPPerCap17.csv")