In [18]:
 # Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [19]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
 # URL of page to be scraped
url = "https://data.worldbank.org/indicator/NY.GDP.PCAP.CD"
browser.visit(url)

In [21]:
#  # Initialize PyMongo to work with MongoDBs
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [22]:
# # Define database and collection
# db = client.marsh_title_db
# collection = db.items

In [23]:
# # Retrieve page with the requests module
# response = requests.get(url)

In [24]:
 # Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(browser.html, 'html.parser')

html = browser.html

In [25]:
#  # Test connection and examine the results
# print(soup.prettify())

In [26]:
# quotes = soup.find_all('div', class_='item')

# for quote in quotes:
#         print(quote.text)

In [27]:
quotes = soup.find_all('div', class_='item')

for quote in quotes:
        print(quote.text)

Country19602017
Afghanistan59.8550.1
Albania4,537.6
Algeria244.84,055.2
American Samoa11,394.5
Andorra39,146.5
Angola4,100.3
Antigua and Barbuda14,803.0
Argentina14,398.4
Armenia3,936.8
Aruba25,655.1
Australia1,807.353,793.5
Austria935.547,380.8
Azerbaijan4,135.1
Bahamas, The1,550.330,762.0
Bahrain23,739.2
Bangladesh88.71,516.5
Barbados16,357.0
Belarus5,733.3
Belgium1,273.743,467.4
Belize304.94,971.2
Benin93.0827.4
Bermuda1,902.4
Bhutan3,130.2
Bolivia101.23,394.0
Bosnia and Herzegovina5,148.2
Botswana58.07,595.6
Brazil210.09,812.3
British Virgin Islands
Brunei Darussalam28,290.6
Bulgaria8,228.0
Burkina Faso68.4642.0
Burundi70.3292.0
Cabo Verde3,244.4
Cambodia111.31,384.4
Cameroon119.51,451.9
Canada2,294.644,870.8
Cayman Islands
Central African Republic74.6418.4
Chad104.5662.5
Channel Islands
Chile532.615,346.4
China89.58,827.0
Colombia244.66,408.9
Comoros1,312.3
Congo, Dem. Rep.220.3462.8
Congo, Rep.127.01,654.0
Costa Rica380.711,677.3
Cote d'Ivoire153.51,537.5
Croatia13,386.5
Cuba8,433.1
Curacao
Cyprus25,658.8
Czech Republic20,379.9
Denmark1,364.557,218.9
Djibouti1,927.6
Dominica6,719.3
Dominican Republic204.17,052.3
Ecuador455.36,273.5
Egypt, Arab Rep.2,412.7
El Salvador3,889.3
Equatorial Guinea9,697.6
Eritrea
Estonia20,200.4
Eswatini100.53,242.8
Ethiopia767.6
Faroe Islands
Fiji285.55,589.4
Finland1,179.445,804.7
France1,338.338,484.2
French Polynesia
Gabon283.47,413.8
Gambia, The709.1
Georgia4,045.4
Germany44,665.5
Ghana183.02,046.1
Gibraltar
Greece533.718,885.5
Greenland
Grenada10,451.0
Guam35,675.8
Guatemala247.84,471.0
Guinea823.5
Guinea-Bissau723.6
Guyana297.74,655.1
Haiti70.7765.7
Honduras164.62,480.1
Hong Kong SAR, China429.446,193.6
Hungary14,278.9
Iceland1,415.071,311.8
India82.41,979.4
Indonesia3,846.4
Iran, Islamic Rep.191.75,593.9
Iraq231.05,018.0
Ireland685.668,885.5
Isle of Man
Israel1,229.240,543.6
Italy804.532,110.0
Jamaica429.35,114.0
Japan479.038,430.3
Jordan4,129.8
Kazakhstan9,030.3
Kenya97.61,594.8
Kiribati1,594.3
Korea, Dem. Peopleâ€™s Rep.
Korea, Rep.158.229,742.8
Kosovo3,957.4
Kuwait29,040.4
Kyrgyz Republic1,220.5
Lao PDR2,457.4
Latvia15,684.6
Lebanon8,808.6
Lesotho40.61,154.4
Liberia694.3
Libya5,978.0
Liechtenstein
Lithuania16,809.6
Luxembourg2,242.0104,498.7
Macao SAR, China80,892.8
Madagascar132.0449.7
Malawi45.0338.5
Malaysia234.99,951.5
Maldives11,151.1
Mali827.0
Malta26,748.2
Marshall Islands3,843.1
Mauritania107.91,136.8
Mauritius10,490.5
Mexico341.68,910.3
Micronesia, Fed. Sts.3,187.6
Moldova2,290.2
Monaco
Mongolia3,717.5
Montenegro7,784.1
Morocco164.83,022.9
Mozambique426.2
Myanmar1,256.7
Namibia5,230.8
Nauru8,844.7
Nepal50.5849.0
Netherlands1,068.848,482.8
New Caledonia
New Zealand2,312.942,583.1
Nicaragua126.12,221.8
Niger132.7378.1
Nigeria93.01,968.4
North Macedonia5,414.6
Northern Mariana Islands28,888.0
Norway1,441.875,704.2
Oman15,267.4
Pakistan82.51,547.9
Palau13,338.1
Panama474.115,196.4
Papua New Guinea114.62,488.9
Paraguay5,823.8
Peru255.66,571.9
Philippines254.42,989.0
Poland13,863.5
Portugal360.521,291.4
Puerto Rico717.5
Qatar63,249.4
Romania10,819.2
Russian Federation10,749.1
Rwanda40.6748.3
Samoa4,280.8
San Marino48,888.0
Sao Tome and Principe1,921.3
Saudi Arabia20,849.3
Senegal313.01,329.3
Serbia5,901.2
Seychelles288.115,629.3
Sierra Leone140.2499.5
Singapore427.957,714.3
Sint Maarten (Dutch part)
Slovak Republic17,579.3
Slovenia23,601.4
Solomon Islands2,132.1
Somalia478.3
South Africa433.96,151.1
South Sudan
Spain396.428,208.3
Sri Lanka142.84,073.7
St. Kitts and Nevis241.617,924.1
St. Lucia9,715.2
St. Martin (French part)
St. Vincent and the Grenadines161.47,145.1
Sudan124.52,898.5
Suriname343.75,317.4
Sweden1,983.153,253.5
Switzerland1,787.480,342.8
Syrian Arab Republic187.5
Tajikistan801.1
Tanzania958.4
Thailand100.86,595.0
Timor-Leste2,279.3
Togo76.6610.2
Tonga3,959.1
Trinidad and Tobago631.316,126.4
Tunisia3,464.4
Turkey509.410,546.2
Turkmenistan6,586.6
Turks and Caicos Islands
Tuvalu3,550.0
Uganda62.3606.5
Ukraine2,639.8
United Arab Emirates40,698.8
United Kingdom1,380.339,953.6
United States3,007.159,927.9
Uruguay489.416,245.6
Uzbekistan1,533.9
Vanuatu3,123.6
Venezuela, RB954.9
Vietnam2,342.2
Virgin Islands (U.S.)744.6
West Bank and Gaza3,094.7
Yemen, Rep.1,106.8
Zambia234.21,513.3
Zimbabwe281.01,333.4
World452.310,748.7
Arab World6,235.4
Caribbean small states446.79,448.2
Central Europe and the Baltics14,176.9
East Asia & Pacific147.410,367.8
East Asia & Pacific (excluding high income)89.87,126.3
Euro area925.036,984.3
Europe & Central Asia654.523,488.5
Europe & Central Asia (excluding high income)7,949.5
European Union876.833,836.4
Fragile and conflict affected situations1,608.8
Heavily indebted poor countries (HIPC)107.0972.2
Latin America & Caribbean369.79,271.6
Latin America & Caribbean (excluding high income)284.28,346.4
Least developed countries: UN classification1,072.7
Middle East & North Africa7,373.8
Middle East & North Africa (excluding high income)3,791.8
North America2,942.658,407.4
OECD members1,353.238,283.4
Other small states13,211.8
Pacific island small states3,996.7
Small states11,979.4
South Asia82.41,870.2
Sub-Saharan Africa130.01,574.8
Sub-Saharan Africa (excluding high income)129.91,573.5
High income1,388.341,352.4
Low & middle income134.14,670.3
Low income787.7
Lower middle income2,209.1
Middle income137.35,182.8
Upper middle income170.38,610.3

In [11]:
#--create an empty list to store text of divs

our_list = []

#--Create a soup object to find all text of table data

quotes = soup.find_all('div', class_='item')

#--loop through and store text to list

for quote in quotes:
        for cell in quote.find_all('div'):
            our_list.append(cell.text)
            

#--Retrive column values for DataFrame            
columns = our_list [:3]
#columns

our_list

['Country',
 '1960',
 '2017',
 '',
 'Afghanistan',
 '59.8',
 '550.1',
 '',
 'Albania',
 '',
 '4,537.6',
 '',
 'Algeria',
 '244.8',
 '4,055.2',
 '',
 'American Samoa',
 '',
 '11,394.5',
 '',
 'Andorra',
 '',
 '39,146.5',
 '',
 'Angola',
 '',
 '4,100.3',
 '',
 'Antigua and Barbuda',
 '',
 '14,803.0',
 '',
 'Argentina',
 '',
 '14,398.4',
 '',
 'Armenia',
 '',
 '3,936.8',
 '',
 'Aruba',
 '',
 '25,655.1',
 '',
 'Australia',
 '1,807.3',
 '53,793.5',
 '',
 'Austria',
 '935.5',
 '47,380.8',
 '',
 'Azerbaijan',
 '',
 '4,135.1',
 '',
 'Bahamas, The',
 '1,550.3',
 '30,762.0',
 '',
 'Bahrain',
 '',
 '23,739.2',
 '',
 'Bangladesh',
 '88.7',
 '1,516.5',
 '',
 'Barbados',
 '',
 '16,357.0',
 '',
 'Belarus',
 '',
 '5,733.3',
 '',
 'Belgium',
 '1,273.7',
 '43,467.4',
 '',
 'Belize',
 '304.9',
 '4,971.2',
 '',
 'Benin',
 '93.0',
 '827.4',
 '',
 'Bermuda',
 '1,902.4',
 '',
 '',
 'Bhutan',
 '',
 '3,130.2',
 '',
 'Bolivia',
 '101.2',
 '3,394.0',
 '',
 'Bosnia and Herzegovina',
 '',
 '5,148.2',
 '',
 'Botswana',
 '58.0',
 '7,595.6',
 '',
 'Brazil',
 '210.0',
 '9,812.3',
 '',
 'British Virgin Islands',
 '',
 '',
 '',
 '',
 '',
 '',
 'Brunei Darussalam',
 '',
 '28,290.6',
 '',
 'Bulgaria',
 '',
 '8,228.0',
 '',
 'Burkina Faso',
 '68.4',
 '642.0',
 '',
 'Burundi',
 '70.3',
 '292.0',
 '',
 'Cabo Verde',
 '',
 '3,244.4',
 '',
 'Cambodia',
 '111.3',
 '1,384.4',
 '',
 'Cameroon',
 '119.5',
 '1,451.9',
 '',
 'Canada',
 '2,294.6',
 '44,870.8',
 '',
 'Cayman Islands',
 '',
 '',
 '',
 'Central African Republic',
 '74.6',
 '418.4',
 '',
 'Chad',
 '104.5',
 '662.5',
 '',
 'Channel Islands',
 '',
 '',
 '',
 'Chile',
 '532.6',
 '15,346.4',
 '',
 'China',
 '89.5',
 '8,827.0',
 '',
 'Colombia',
 '244.6',
 '6,408.9',
 '',
 'Comoros',
 '',
 '1,312.3',
 '',
 'Congo, Dem. Rep.',
 '220.3',
 '462.8',
 '',
 'Congo, Rep.',
 '127.0',
 '1,654.0',
 '',
 'Costa Rica',
 '380.7',
 '11,677.3',
 '',
 "Cote d'Ivoire",
 '153.5',
 '1,537.5',
 '',
 'Croatia',
 '',
 '13,386.5',
 '',
 'Cuba',
 '',
 '8,433.1',
 '',
 'Curacao',
 '',
 '',
 '',
 '',
 '',
 '',
 'Cyprus',
 '',
 '25,658.8',
 '',
 'Czech Republic',
 '',
 '20,379.9',
 '',
 'Denmark',
 '1,364.5',
 '57,218.9',
 '',
 'Djibouti',
 '',
 '1,927.6',
 '',
 'Dominica',
 '',
 '6,719.3',
 '',
 'Dominican Republic',
 '204.1',
 '7,052.3',
 '',
 'Ecuador',
 '455.3',
 '6,273.5',
 '',
 'Egypt, Arab Rep.',
 '',
 '2,412.7',
 '',
 'El Salvador',
 '',
 '3,889.3',
 '',
 'Equatorial Guinea',
 '',
 '9,697.6',
 '',
 'Eritrea',
 '',
 '',
 '',
 'Estonia',
 '',
 '20,200.4',
 '',
 'Eswatini',
 '100.5',
 '3,242.8',
 '',
 'Ethiopia',
 '',
 '767.6',
 '',
 'Faroe Islands',
 '',
 '',
 '',
 'Fiji',
 '285.5',
 '5,589.4',
 '',
 'Finland',
 '1,179.4',
 '45,804.7',
 '',
 'France',
 '1,338.3',
 '38,484.2',
 '',
 'French Polynesia',
 '',
 '',
 '',
 'Gabon',
 '283.4',
 '7,413.8',
 '',
 'Gambia, The',
 '',
 '709.1',
 '',
 'Georgia',
 '',
 '4,045.4',
 '',
 'Germany',
 '',
 '44,665.5',
 '',
 'Ghana',
 '183.0',
 '2,046.1',
 '',
 'Gibraltar',
 '',
 '',
 '',
 '',
 '',
 '',
 'Greece',
 '533.7',
 '18,885.5',
 '',
 'Greenland',
 '',
 '',
 '',
 'Grenada',
 '',
 '10,451.0',
 '',
 'Guam',
 '',
 '35,675.8',
 '',
 'Guatemala',
 '247.8',
 '4,471.0',
 '',
 'Guinea',
 '',
 '823.5',
 '',
 'Guinea-Bissau',
 '',
 '723.6',
 '',
 'Guyana',
 '297.7',
 '4,655.1',
 '',
 'Haiti',
 '70.7',
 '765.7',
 '',
 'Honduras',
 '164.6',
 '2,480.1',
 '',
 'Hong Kong SAR, China',
 '429.4',
 '46,193.6',
 '',
 'Hungary',
 '',
 '14,278.9',
 '',
 'Iceland',
 '1,415.0',
 '71,311.8',
 '',
 'India',
 '82.4',
 '1,979.4',
 '',
 'Indonesia',
 '',
 '3,846.4',
 '',
 'Iran, Islamic Rep.',
 '191.7',
 '5,593.9',
 '',
 'Iraq',
 '231.0',
 '5,018.0',
 '',
 'Ireland',
 '685.6',
 '68,885.5',
 '',
 'Isle of Man',
 '',
 '',
 '',
 'Israel',
 '1,229.2',
 '40,543.6',
 '',
 'Italy',
 '804.5',
 '32,110.0',
 '',
 'Jamaica',
 '429.3',
 '5,114.0',
 '',
 'Japan',
 '479.0',
 '38,430.3',
 '',
 'Jordan',
 '',
 '4,129.8',
 '',
 'Kazakhstan',
 '',
 '9,030.3',
 '',
 'Kenya',
 '97.6',
 '1,594.8',
 '',
 'Kiribati',
 '',
 '1,594.3',
 '',
 'Korea, Dem. Peopleâ€™s Rep.',
 '',
 '',
 '',
 '',
 '',
 '',
 'Korea, Rep.',
 '158.2',
 '29,742.8',
 '',
 'Kosovo',
 '',
 '3,957.4',
 '',
 'Kuwait',
 '',
 '29,040.4',
 '',
 'Kyrgyz Republic',
 '',
 '1,220.5',
 '',
 'Lao PDR',
 '',
 '2,457.4',
 '',
 'Latvia',
 '',
 '15,684.6',
 '',
 'Lebanon',
 '',
 '8,808.6',
 '',
 'Lesotho',
 '40.6',
 '1,154.4',
 '',
 'Liberia',
 '',
 '694.3',
 '',
 'Libya',
 '',
 '5,978.0',
 '',
 'Liechtenstein',
 '',
 '',
 '',
 'Lithuania',
 '',
 '16,809.6',
 '',
 'Luxembourg',
 '2,242.0',
 '104,498.7',
 '',
 'Macao SAR, China',
 '',
 '80,892.8',
 '',
 'Madagascar',
 '132.0',
 '449.7',
 '',
 'Malawi',
 '45.0',
 '338.5',
 '',
 'Malaysia',
 '234.9',
 '9,951.5',
 '',
 'Maldives',
 '',
 '11,151.1',
 '',
 'Mali',
 '',
 '827.0',
 '',
 'Malta',
 '',
 '26,748.2',
 '',
 'Marshall Islands',
 '',
 '3,843.1',
 '',
 'Mauritania',
 '107.9',
 '1,136.8',
 '',
 'Mauritius',
 '',
 '10,490.5',
 '',
 'Mexico',
 '341.6',
 '8,910.3',
 '',
 'Micronesia, Fed. Sts.',
 '',
 '3,187.6',
 '',
 'Moldova',
 '',
 '2,290.2',
 '',
 'Monaco',
 '',
 '',
 '',
 'Mongolia',
 '',
 '3,717.5',
 '',
 'Montenegro',
 '',
 '7,784.1',
 '',
 'Morocco',
 '164.8',
 '3,022.9',
 '',
 'Mozambique',
 '',
 '426.2',
 '',
 'Myanmar',
 '',
 '1,256.7',
 '',
 'Namibia',
 '',
 '5,230.8',
 '',
 'Nauru',
 '',
 '8,844.7',
 '',
 'Nepal',
 '50.5',
 '849.0',
 '',
 'Netherlands',
 '1,068.8',
 '48,482.8',
 '',
 'New Caledonia',
 '',
 '',
 '',
 'New Zealand',
 '2,312.9',
 '42,583.1',
 '',
 'Nicaragua',
 '126.1',
 '2,221.8',
 '',
 'Niger',
 '132.7',
 '378.1',
 '',
 'Nigeria',
 '93.0',
 '1,968.4',
 '',
 'North Macedonia',
 '',
 '5,414.6',
 '',
 'Northern Mariana Islands',
 '',
 '28,888.0',
 '',
 'Norway',
 '1,441.8',
 '75,704.2',
 '',
 'Oman',
 '',
 '15,267.4',
 '',
 'Pakistan',
 '82.5',
 '1,547.9',
 '',
 'Palau',
 '',
 '13,338.1',
 '',
 'Panama',
 '474.1',
 '15,196.4',
 '',
 'Papua New Guinea',
 '114.6',
 '2,488.9',
 '',
 'Paraguay',
 '',
 '5,823.8',
 '',
 'Peru',
 '255.6',
 '6,571.9',
 '',
 'Philippines',
 '254.4',
 '2,989.0',
 '',
 'Poland',
 '',
 '13,863.5',
 '',
 'Portugal',
 '360.5',
 '21,291.4',
 '',
 'Puerto Rico',
 '717.5',
 '',
 '',
 'Qatar',
 '',
 '63,249.4',
 '',
 'Romania',
 '',
 '10,819.2',
 '',
 'Russian Federation',
 '',
 '10,749.1',
 '',
 'Rwanda',
 '40.6',
 '748.3',
 '',
 'Samoa',
 '',
 '4,280.8',
 '',
 'San Marino',
 '',
 '48,888.0',
 '',
 'Sao Tome and Principe',
 '',
 '1,921.3',
 '',
 'Saudi Arabia',
 '',
 '20,849.3',
 '',
 'Senegal',
 '313.0',
 '1,329.3',
 '',
 'Serbia',
 '',
 '5,901.2',
 '',
 'Seychelles',
 '288.1',
 '15,629.3',
 '',
 'Sierra Leone',
 '140.2',
 '499.5',
 '',
 'Singapore',
 '427.9',
 '57,714.3',
 '',
 'Sint Maarten (Dutch part)',
 '',
 '',
 '',
 '',
 '',
 '',
 'Slovak Republic',
 '',
 '17,579.3',
 '',
 'Slovenia',
 '',
 '23,601.4',
 '',
 'Solomon Islands',
 '',
 '2,132.1',
 '',
 'Somalia',
 '',
 '478.3',
 '',
 'South Africa',
 '433.9',
 '6,151.1',
 '',
 'South Sudan',
 '',
 '',
 '',
 'Spain',
 '396.4',
 '28,208.3',
 '',
 'Sri Lanka',
 '142.8',
 '4,073.7',
 '',
 'St. Kitts and Nevis',
 '241.6',
 '17,924.1',
 '',
 'St. Lucia',
 '',
 '9,715.2',
 '',
 'St. Martin (French part)',
 '',
 '',
 '',
 '',
 '',
 '',
 'St. Vincent and the Grenadines',
 '161.4',
 '7,145.1',
 '',
 'Sudan',
 '124.5',
 '2,898.5',
 '',
 'Suriname',
 '343.7',
 '5,317.4',
 '',
 'Sweden',
 '1,983.1',
 '53,253.5',
 '',
 'Switzerland',
 '1,787.4',
 '80,342.8',
 '',
 'Syrian Arab Republic',
 '187.5',
 '',
 '',
 'Tajikistan',
 '',
 '801.1',
 '',
 'Tanzania',
 '',
 '958.4',
 '',
 'Thailand',
 '100.8',
 '6,595.0',
 '',
 'Timor-Leste',
 '',
 '2,279.3',
 '',
 'Togo',
 '76.6',
 '610.2',
 '',
 'Tonga',
 '',
 '3,959.1',
 '',
 'Trinidad and Tobago',
 '631.3',
 '16,126.4',
 '',
 'Tunisia',
 '',
 '3,464.4',
 '',
 'Turkey',
 '509.4',
 '10,546.2',
 '',
 'Turkmenistan',
 '',
 '6,586.6',
 '',
 'Turks and Caicos Islands',
 '',
 '',
 '',
 '',
 '',
 '',
 'Tuvalu',
 '',
 '3,550.0',
 '',
 'Uganda',
 '62.3',
 '606.5',
 '',
 'Ukraine',
 '',
 '2,639.8',
 '',
 'United Arab Emirates',
 '',
 '40,698.8',
 '',
 'United Kingdom',
 '1,380.3',
 '39,953.6',
 '',
 'United States',
 '3,007.1',
 '59,927.9',
 '',
 'Uruguay',
 '489.4',
 '16,245.6',
 '',
 'Uzbekistan',
 '',
 '1,533.9',
 '',
 'Vanuatu',
 '',
 '3,123.6',
 '',
 'Venezuela, RB',
 '954.9',
 '',
 '',
 'Vietnam',
 '',
 '2,342.2',
 '',
 'Virgin Islands (U.S.)',
 '744.6',
 '',
 '',
 'West Bank and Gaza',
 '',
 '3,094.7',
 '',
 'Yemen, Rep.',
 '',
 '1,106.8',
 '',
 'Zambia',
 '234.2',
 '1,513.3',
 '',
 'Zimbabwe',
 '281.0',
 '1,333.4',
 '',
 'World',
 '452.3',
 '10,748.7',
 '',
 'Arab World',
 '',
 '6,235.4',
 '',
 'Caribbean small states',
 '446.7',
 '9,448.2',
 '',
 'Central Europe and the Baltics',
 '',
 '14,176.9',
 '',
 'East Asia & Pacific',
 '147.4',
 '10,367.8',
 '',
 'East Asia & Pacific (excluding high income)',
 '89.8',
 '7,126.3',
 '',
 'Euro area',
 '925.0',
 '36,984.3',
 '',
 'Europe & Central Asia',
 '654.5',
 '23,488.5',
 '',
 'Europe & Central Asia (excluding high income)',
 '',
 '7,949.5',
 '',
 'European Union',
 '876.8',
 '33,836.4',
 '',
 'Fragile and conflict affected situations',
 '',
 '1,608.8',
 '',
 'Heavily indebted poor countries (HIPC)',
 '107.0',
 '972.2',
 '',
 'Latin America & Caribbean',
 '369.7',
 '9,271.6',
 '',
 'Latin America & Caribbean (excluding high income)',
 '284.2',
 '8,346.4',
 '',
 'Least developed countries: UN classification',
 '',
 '1,072.7',
 '',
 'Middle East & North Africa',
 '',
 '7,373.8',
 '',
 'Middle East & North Africa (excluding high income)',
 '',
 '3,791.8',
 '',
 'North America',
 '2,942.6',
 '58,407.4',
 '',
 'OECD members',
 '1,353.2',
 '38,283.4',
 '',
 'Other small states',
 '',
 '13,211.8',
 '',
 'Pacific island small states',
 '',
 '3,996.7',
 '',
 'Small states',
 '',
 '11,979.4',
 '',
 'South Asia',
 '82.4',
 '1,870.2',
 '',
 'Sub-Saharan Africa',
 '130.0',
 '1,574.8',
 '',
 'Sub-Saharan Africa (excluding high income)',
 '129.9',
 '1,573.5',
 '',
 'High income',
 '1,388.3',
 '41,352.4',
 '',
 'Low & middle income',
 '134.1',
 '4,670.3',
 ...]

In [12]:
# Convert list of Lists of Country GDP per Capita into a dataframe
df_17 = pd.DataFrame(quotes, columns = [columns[0] , columns[1], columns[2],"Empty"])
df_17

,Country,1960,2017,Empty
0,"<div class=""th country ascendant"" data-reactid...","<div class=""th year-low"" data-reactid=""391""><!...","<div class=""th year-high"" data-reactid=""393""><...","<div class=""th sparkline"" data-reactid=""395""><..."
1,<div>Afghanistan</div>,<div>59.8</div>,<div>550.1</div>,<div></div>
2,<div>Albania</div>,<div></div>,"<div>4,537.6</div>",<div></div>
3,<div>Algeria</div>,<div>244.8</div>,"<div>4,055.2</div>",<div></div>
4,<div>American Samoa</div>,<div></div>,"<div>11,394.5</div>",<div></div>
5,<div>Andorra</div>,<div></div>,"<div>39,146.5</div>",<div></div>
6,<div>Angola</div>,<div></div>,"<div>4,100.3</div>",<div></div>
7,<div>Antigua and Barbuda</div>,<div></div>,"<div>14,803.0</div>",<div></div>
8,<div>Argentina</div>,<div></div>,"<div>14,398.4</div>",<div></div>
9,<div>Armenia</div>,<div></div>,"<div>3,936.8</div>",<div></div>
10,<div>Aruba</div>,<div></div>,"<div>25,655.1</div>",<div></div>
11,<div>Australia</div>,"<div>1,807.3</div>","<div>53,793.5</div>",<div></div>
12,<div>Austria</div>,<div>935.5</div>,"<div>47,380.8</div>",<div></div>
13,<div>Azerbaijan</div>,<div></div>,"<div>4,135.1</div>",<div></div>
14,"<div>Bahamas, The</div>","<div>1,550.3</div>","<div>30,762.0</div>",<div></div>
15,<div>Bahrain</div>,<div></div>,"<div>23,739.2</div>",<div></div>
16,<div>Bangladesh</div>,<div>88.7</div>,"<div>1,516.5</div>",<div></div>
17,<div>Barbados</div>,<div></div>,"<div>16,357.0</div>",<div></div>
18,<div>Belarus</div>,<div></div>,"<div>5,733.3</div>",<div></div>
19,<div>Belgium</div>,"<div>1,273.7</div>","<div>43,467.4</div>",<div></div>
20,<div>Belize</div>,<div>304.9</div>,"<div>4,971.2</div>",<div></div>
21,<div>Benin</div>,<div>93.0</div>,<div>827.4</div>,<div></div>
22,<div>Bermuda</div>,"<div>1,902.4</div>",<div></div>,<div></div>
23,<div>Bhutan</div>,<div></div>,"<div>3,130.2</div>",<div></div>
24,<div>Bolivia</div>,<div>101.2</div>,"<div>3,394.0</div>",<div></div>
25,<div>Bosnia and Herzegovina</div>,<div></div>,"<div>5,148.2</div>",<div></div>
26,<div>Botswana</div>,<div>58.0</div>,"<div>7,595.6</div>",<div></div>
27,<div>Brazil</div>,<div>210.0</div>,"<div>9,812.3</div>",<div></div>
28,<div>British Virgin Islands</div>,<div></div>,<div></div>,"<div><div class=""d3-chart sparkline""><svg clas..."
29,<div>Brunei Darussalam</div>,<div></div>,"<div>28,290.6</div>",<div></div>
...,...,...,...,...
219,<div>Arab World</div>,<div></div>,"<div>6,235.4</div>",<div></div>
220,<div>Caribbean small states</div>,<div>446.7</div>,"<div>9,448.2</div>",<div></div>
221,<div>Central Europe and the Baltics</div>,<div></div>,"<div>14,176.9</div>",<div></div>
222,<div>East Asia &amp; Pacific</div>,<div>147.4</div>,"<div>10,367.8</div>",<div></div>
223,<div>East Asia &amp; Pacific (excluding high i...,<div>89.8</div>,"<div>7,126.3</div>",<div></div>
224,<div>Euro area</div>,<div>925.0</div>,"<div>36,984.3</div>",<div></div>
225,<div>Europe &amp; Central Asia</div>,<div>654.5</div>,"<div>23,488.5</div>",<div></div>
226,<div>Europe &amp; Central Asia (excluding high...,<div></div>,"<div>7,949.5</div>",<div></div>
227,<div>European Union</div>,<div>876.8</div>,"<div>33,836.4</div>",<div></div>
228,<div>Fragile and conflict affected situations<...,<div></div>,"<div>1,608.8</div>",<div></div>
229,<div>Heavily indebted poor countries (HIPC)</div>,<div>107.0</div>,<div>972.2</div>,<div></div>
230,<div>Latin America &amp; Caribbean</div>,<div>369.7</div>,"<div>9,271.6</div>",<div></div>
231,<div>Latin America &amp; Caribbean (excluding ...,<div>284.2</div>,"<div>8,346.4</div>",<div></div>
232,<div>Least developed countries: UN classificat...,<div></div>,"<div>1,072.7</div>",<div></div>
233,<div>Middle East &amp; North Africa</div>,<div></div>,"<div>7,373.8</div>",<div></div>
234,<div>Middle East &amp; North Africa (excluding...,<div></div>,"<div>3,791.8</div>",<div></div>
235,<div>North America</div>,"<div>2,942.6</div>","<div>58,407.4</div>",<div></div>
236,<div>OECD members</div>,"<div>1,353.2</div>","<div>38,283.4</div>",<div></div>
237,<div>Other small states</div>,<div></div>,"<div>13,211.8</div>",<div></div>
238,<div>Pacific island small states</div>,<div></div>,"<div>3,996.7</div>",<div></div>
239,<div>Small states</div>,<div></div>,"<div>11,979.4</div>",<div></div>
240,<div>South Asia</div>,<div>82.4</div>,"<div>1,870.2</div>",<div></div>
241,<div>Sub-Saharan Africa</div>,<div>130.0</div>,"<div>1,574.8</div>",<div></div>
242,<div>Sub-Saharan Africa (excluding high income...,<div>129.9</div>,"<div>1,573.5</div>",<div></div>
243,<div>High income</div>,"<div>1,388.3</div>","<div>41,352.4</div>",<div></div>
244,<div>Low &amp; middle income</div>,<div>134.1</div>,"<div>4,670.3</div>",<div></div>
245,<div>Low income</div>,<div></div>,<div>787.7</div>,<div></div>
246,<div>Lower middle income</div>,<div></div>,"<div>2,209.1</div>",<div></div>
247,<div>Middle income</div>,<div>137.3</div>,"<div>5,182.8</div>",<div></div>
248,<div>Upper middle income</div>,<div>170.3</div>,"<div>8,610.3</div>",<div></div>

#### Normalizing Data

In [13]:


#df_17.drop(df_17.index[0],inplace=True)

#df_17 = df_17.drop(["Empty"], axis=1)

#df_17.reset_index(inplace = True)

#df_17 = df_17.drop(["index"], axis =1)

df_17.head()

,Country,1960,2017,Empty
0,"<div class=""th country ascendant"" data-reactid...","<div class=""th year-low"" data-reactid=""391""><!...","<div class=""th year-high"" data-reactid=""393""><...","<div class=""th sparkline"" data-reactid=""395""><..."
1,<div>Afghanistan</div>,<div>59.8</div>,<div>550.1</div>,<div></div>
2,<div>Albania</div>,<div></div>,"<div>4,537.6</div>",<div></div>
3,<div>Algeria</div>,<div>244.8</div>,"<div>4,055.2</div>",<div></div>
4,<div>American Samoa</div>,<div></div>,"<div>11,394.5</div>",<div></div>

In [14]:
##--cleaning <div> tag from countries_bs4 list

countries_bs4 = df_17.Country.tolist()

countries_str = list(map(str, countries_bs4))

print(countries_str[0][5:-6])

countries = []

for country in countries_str:
    if country not in countries:
        value = country[5:-6]
        countries.append(value)
countries[:5]

class="th country ascendant" data-reactid="389"><span data-reactid="390">Country</span>

['class="th country ascendant" data-reactid="389"><span data-reactid="390">Country</span>',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa']

In [15]:
#--cleaning <div> tag from 1960 column: f_year

f_year_bs4 = df_17["1960"].tolist()
f_year_bs4 = list(map(str,f_year_bs4))

f_year_bs4[0][5:-6]

f_year = []

for data in f_year_bs4:
    if data == "<div></div>":
        value = "N/A"
        f_year.append(value)
    else:
        value = data[5:-6]
        f_year.append(value)

f_year[0:5]

['class="th year-low" data-reactid="391"><!-- react-text: 392 -->1960<!-- /react-text -->',
 '59.8',
 'N/A',
 '244.8',
 'N/A']

In [16]:
#--cleaning <div> tag from 2017 column: s_year

s_year_bs4 = df_17["2017"].tolist()
s_year_bs4 = list(map(str, s_year_bs4))

s_year_bs4[0][5:-6]

s_year = []

for data in s_year_bs4:
    if data == "<div></div>":
        value = "N/A"
        s_year.append(value)
    else:
        value = data[5:-6]
        s_year.append(value)

s_year[0:5]

['class="th year-high" data-reactid="393"><!-- react-text: 394 -->2017<!-- /react-text -->',
 '550.1',
 '4,537.6',
 '4,055.2',
 '11,394.5']

#### Final DataFrame for Year 2017

In [17]:
#Create a prototype DataFrame from the lists created: proto_df

proto_df = pd.DataFrame({
    
            "Country": countries,
            "1960": f_year,
            "2017": s_year,
})

proto_df.head()

,Country,1960,2017
0,"class=""th country ascendant"" data-reactid=""389...","class=""th year-low"" data-reactid=""391""><!-- re...","class=""th year-high"" data-reactid=""393""><!-- r..."
1,Afghanistan,59.8,550.1
2,Albania,N/A,"4,537.6"
3,Algeria,244.8,"4,055.2"
4,American Samoa,N/A,"11,394.5"